body{
    background-image: url("d.jpg");
    background-size: cover;
  
  
}
img{
    opacity: .7;
}
td{
    color: white;
}
button:hover{
    background-color: brown;
    color: rgb(0, 0, 0);
}